      </div>
      <div id="sidebar">
        <iframe width="22%" height="430" frameborder="0" scrolling="no" src="/status">
        </iframe>
      </div>
      <div id="footer">
        <p>
          Copyright 2007-2008
		  <a href="http://www.sqo-oss.eu/about/">&nbsp;SQO-OSS Consortium Members</a>
        </p>
      </div>
    </div>
  </body>
</html>