#set($section=3)
#parse("header.inc")

        <div id="contents">
          <h2>$tr.label("plugins_mngm")</h2>
          <div id="table">  
            <form id="metrics" name="metrics" method="post" action="/index">
              <fieldset>
                <legend>Create property for $plugin.getName()</legend>
                <table class="borderless">                
                  <tr>
                    <td class="borderless" style="width:100px;"><b>Name</b></td>
                    <td class="borderless"><input type="text" class="form" id="reqParPropName" name="reqParPropName" value="$property.getName()"></td>
                  </tr>
                  <tr> 
                    <td class="borderless" style="width:100px;"><b>Description</b></td>
                    <td class="borderless"><input type="text" class="form" id="reqParPropDescr" name="reqParPropDescr" value="$property.getMsg()"></td>
                  </tr>
                  <tr>
                    <td class="borderless" style="width:100px;"><b>Type</b></td>
                    <td class="borderless">
                      <select class="form" id="reqParPropType" name="params.get("reqParPropType")">
                        #foreach ($type in $types)
                        	<option value="$type" #if ($type.equals($property.getType())) selected #end>$type</option>
                        #end
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td class="borderless" style="width:100px;"><b>Value</b></td>
                    <td class="borderless"><input type="text" class="form" id="reqParPropValue" name="reqParPropValue" value="$property.getValue()"></td>
                  </tr>
                  <tr>
                    <td colspan="2" class="borderless">
                      <input type="button" class="install" style="width: 100px;" value="#if ($update) Create #else Update #end" onclick="javascript:document.getElementById('reqParAction').value='actValConAddProp';document.metrics.submit();">&nbsp;                  <input type="button" class="install" style="width: 100px;" value="Cancel" onclick="javascript:document.metrics.submit();">
					  #if ($update)
					  	<input type="button" class="install" style="width: 100px;" value="Remove" onclick="javascript:document.getElementById('reqParAction').value='$params("actValConRemProp")'; document.metrics.submit();" />
					  #end
					  <input type="button" class="install" style="width: 100px;" value="Cancel" onclick="javascript:document.metrics.submit()" />
					</td>                    					                     
                  </tr>
                </table>            
              </fieldset>
              <input type="hidden" id="reqParHashcode" name="reqParHashcode" value="$plugin.getHashcode()">
            </form>
          </div>    
        </div>

#parse("footer.inc")