#set($section=2)
#parse("header.vm")

	    <div id="contents">
          <h2>Alitheia Logs</h2>
          <ul class="logs">
            #if ($logs.isEmpty())
              <li>&lt;none&gt;</li>
            #else
              #foreach ($log in $logs)
                <li>$log</li>
              #end
            #end
          </ul>
        </div>

#parse("footer.vm")